<div class="education-card-off">
  <div class="education-card-icon-off">
    <i class="fa-solid fa-graduation-cap"></i>
  </div>
  <div class="education-card-body-off">
    <div class="education-date">
      <div class="date-box"></div>
    </div>
    <div class="education-title">
      <div class="title-box"></div>
    </div>
    <div class="education-school">
      <div class="school-box"></div>
    </div>
  </div>
</div>
