<div class="education-card">
  <div class="education-card-icon">
    <i class="fa-solid fa-graduation-cap"></i>
  </div>
  <div class="education-card-body">
    <div class="education-date">
      <p>2020 - Present</p>
    </div>
    <div class="education-title">
      <p>Systems engineer</p>
    </div>
    <div class="education-school">
      <p>Institución Universitaria Antonio José Camacho</p>
    </div>
  </div>
</div>
