<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preload" href="/bg-home/sol.svg" as="image" type="image/webp" />
    <link
      rel="preload"
      href="/bg-home/nubes.svg"
      as="image"
      type="image/webp"
    />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Jesus Lopez | Portfolio</title>
  </head>
  <body>
    <slot />
  </body>
</html>
